*{
    scroll-behavior: smooth;
    direction: rtl;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: rgb(34, 34, 34);
    font-family: Arial, Helvetica, sans-serif;
}
/* nav */
nav{
    z-index: 4;
}
#main-ul{
    display: flex;
    text-align: center;
    background-color: rgb(94, 80, 89);
    height: 25px;
    line-height: 20px;
}
.nav-list{
    width: 100px;
    font-weight: bold;
}
.nav-list:nth-child(2),.ul-box li:nth-child(1){
    background-color: rgb(27, 11, 31) !important;        
}
.nav-list ul li{
    width: 100px;
    height: 25px;
}
.ul-box li{
    display: none;
    background-color: rgb(94, 80, 89);
}
.nav-list:hover li{
    display: block;
}
ul li:hover{
    background-color: rgb(27, 11, 31) !important;

}  
.nav-list:hover{
    background-color: rgb(27, 11, 31) !important;
}
a{
    color: rgb(255, 255, 255);
}
/* nav End */
/* categories */

#main-cat{
    float: right;
    text-align: center;
    margin: 80px;
}
#main-cat h2{
    margin: 5px;
    color: white;
}
#main-cat li{
    padding-top: 10px;
    color: #fff;
    text-align: center;
    background-color: rgb(61, 61, 61);
    width: 200px;
    height: 30px;
}
#main-cat li:hover{
    background-color: rgb(117, 91, 88);
}


/* End OF Categories */
/* Container */

.image{
    width: 60%;
    margin: 0px;
}
#container{
    float: left;
    width: 50%;
    text-align: center;
    margin: 80px;
}
#container div{
    background-color: rgb(61, 61, 61);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.5);  
}
#container h1{
    color: rgb(155, 155, 155);
}
#container p {
    margin-bottom: 40px;
    margin-top: -5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: justify;
    padding: 20px;
}

/* End Of Container*/
/* Start Container-right*/

#container-Right{
    float: right;
    width: 25%;
    text-align: center;
    margin: 80px;
}
#container-Right div{
    background-color: rgb(61, 61, 61);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.5); 
    margin-bottom: 60px;
}
#container-Right h1{
    color: rgb(155, 155, 155);
    font-size: 20px;
}
#container-Right p{
    font-size: 20px;
    margin: 10px;
    color: white;
    text-align: justify;
    padding: 10px;
}

/* End OF Container-right*/

.clear{
    clear: both;
}

/* footer */

#foot{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px;
    height: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* End Footer */
.Top{
    position: fixed;
    bottom: 100px;
    right: 30px;
    float: right;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(4, 9, 26);
    padding-inline: 10px;
    border:none;
    color: #fff;
    text-decoration: none;
}

/* Responsive */

@media (max-width: 1279px ){
    #container div{
        width: 80%;
        height: fit-content;
        margin-bottom: 40px;
    }
    #container p{
        font-size: 15px;
        text-align:justify;
        margin: 10px;
    }
    .image{
        width: 50%;
    }
    #container-Right{
    width: 20%;
    margin-top: 0px;
    }
    #container-Right p{
    font-size: 15px;
    }
    .Top{
        padding: 10px;
        font-size: 10px;
        bottom: 2px;
    }

}

@media (max-width: 1066px){
    #main-cat{
        font-size: 10px;
        width: 150px;
    }
    #main-cat li{
        width: 150px;
    }
    #container {
        width: 50%;
        margin-left: -30px;
    }
    #container-Right{
        width: 25%;
        height: fit-content;
    }
}

@media (max-width: 839px){
    #container{
        margin: 0px;
        margin-top: 20%;
    }
    #foot{
        height: 10px;
        font-size: 10px;
    }
}

@media (max-width: 750px){
    #container{
    width: 50%;
    }
    #container p{
        font-size: 10px;
        text-align:justify;
        margin: 10px;
    }
    #container h1,#container-Right h1{
        font-size: 12px;
        padding: 10px;
    }
    .image{
        width: 50%;
    }
    #container-Right{
    width: 25%;
    margin: 50px;
    margin-top: 50px;
    }
    #container-Right p{
    font-size: 10px;
    }
    .Top{
        padding: 2px;
        font-size: 8px;
        bottom: 2px;
    }
}

@media (max-width: 577px){
    #container-Right p{
        font-size: 10px;
    }
    #main-cat{
        width: 70px;
    }
    #main-cat h2{
        font-size: 12px;
    }
    #main-cat li{
        width: 70px;
        height: 10px;
        font-size: 10px;
    }
    .Top{
        padding: 2px;
        font-size: 4px;
        bottom: 2px;
    }
}

@media (max-width: 459px){
    #main-cat{
        margin: 0px;
        margin-right: 20px;
        margin-top: 20px;
    }
    #main-cat h2,#main-cat li{
        font-size: 7px;
    }
    #container{
        width: 40%;
    }   
    #container p,#container h1{
        margin: 0px;
        font-size: 5px;
    }
    #container-Right{
        width: 25%;
        margin-top: 110px;
    }
    #container-Right div{
        height: fit-content;
    }
    #container-Right div p,#container-Right div h1{
        font-size: 4px;
        margin: 0px;
    }
    #main-cat{
        width: 40px;
    }
    #main-cat h2{
        font-size: 6px;
    }
    #main-cat li{
        width: 40px;
        height: 8px;
        font-size: 5px;
    }
}
@media (max-width: 285px){
    #container-Right{
        margin-top: -330%;
    }
}

/* End Of Responsive */